{% extends 'flex/base.html'  %}

{% block content %}

<div class="container mt-5">
        <h1 class="text-center mb-4">Real Estate Listings</h1>
        <div class="row">
            {% for product in products %}
            <!-- Property Card -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="Property Image">
                    <div class="card-body">
                        <h5 class="card-title">Beautiful Family Home</h5>
                        <div class="d-flex justify-content border">
                                <p class="card-text p-3"><i class="material-icons">location_on</i> 123 Main St, City</p>
                                <p class="card-text"><i class="fas fa-dollar-sign"></i> $500,000</p>
                        </div>
                         <p class="card-text">
                            <i class="material-icons">king_bed</i> 4 Bedrooms <br>
                            <i class="material-icons">bathtub</i> 3 Bathrooms
                        </p>
                        <a href="detail.html" class="btn btn-primary btn-block">View Details</a>
                    </div>
                </div>
            </div>
            <!-- Repeat for more properties -->
            {% endfor %}
        </div>
    </div>

<br>
<hr>
<br>

<h1>Welcome to Pedro Real Estate Listings</h1>

    <div class="row">
      {% for product in products %}
      <div class="col">
        <div class="card" style="width: 18rem; margin-to">
            <img src="{{ product.image.url }}" class="card-img-top" alt="..." height="300" width="300" style="border: 2px solid lightblue;">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>

                <section id="about">
                    <h2>About Us</h2>
                    <p>We are dedicated to helping you find your ideal property. Our team of experts is here to assist you every step of the way.</p>
                </section>

                <section id="contact">
                    <p>If you have any questions, feel free to reach out to us, we will be delighted to help.</p>
                    <a href="email:nkamasylvester8@gmail.com">Email Us</a>
                </section>
                <a href="{% url 'flex:detail' product.pk %}" class="btn btn-primary"><i class="cil-cart"></i>Views</a>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}